body {
  margin: 0;
  font-family: "open-sans-regular", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3e4755;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* Fonts */

@font-face {
  font-family: open-sans-regular;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: open-sans-light;
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: open-sans-bold;
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: open-sans-semi;
  src: url("../fonts/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: poppins-medium;
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: poppins-semi;
  src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: poppins-bold;
  src: url("../fonts/Poppins-Bold.ttf");
}

/* Guide rules for dev */

.grid-container {
  border-left: 1px red solid;
  border-right: 1px red solid;
}

/* Navigation */
.navigation {
  border-bottom: 5px solid #3e4755;
}

h2 {
  font-family: poppins-semi;
  text-transform: uppercase;
  font-size: 2rem;
}

section {
  background-color: #f5faff;
}

nav {
  font-family: poppins-semi;
  font-size: 1rem;
  text-transform: uppercase;
  height: 80px;
}

nav li {
  padding: 1.75rem 10px;
  cursor: pointer;
}

.hero {
  padding: 3.5rem 0;
  font-size: 1.75rem;
  font-family: poppins-bold;
}

.hero p {
  padding-top: 3rem;
  padding-left: 2rem;
}

.avatar {
  position: relative;
}

.hero a {
  color: #ff685c;
}

.hero img {
  display: flex;
  margin: 0 auto;
  vertical-align: middle;
  max-width: 250px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.avatar .rectangle {
  background-color: #68ebc9;
  width: 145px;
  height: 140px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 1;
}

.skills {
  min-height: 200px;
  padding: 3rem 0 3rem 2rem;
  font-size: 1.25rem;
  font-weight: medium;
}

.skills ul {
  list-style-type: none;
  margin: 1.5rem 0 0 0;
}

.skills .grid-container {
  padding-top: 2rem;
  padding-left: 1rem;
}

.work a {
  color: #ff685c;
  font-family: poppins-semi;
}
/* Footer */

footer {
  background-color: #3e4755;
  color: #fff;
  margin: 0;
}

footer p {
  margin: 0;
  vertical-align: middle;
}

footer .grid-x {
  padding: 3rem 0 1.5rem 0;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  display: inline;
  padding: 0 0 0 1rem;
  cursor: pointer;
}

footer a {
  color: #fff;
}

footer i {
  font-size: 2rem;
}

footer a:hover {
  color: #ff685c;
}
